In [1]:
# Requests allows us to make HTTP requests which we will use to get data from an API
import requests
# Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd
# NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np
# Datetime is a library that allows us to represent dates
import datetime

# Setting this option will print all collumns of a dataframe
pd.set_option('display.max_columns', None)
# Setting this option will print all of the data in a feature
pd.set_option('display.max_colwidth', None)

In [2]:
# Takes the dataset and uses the rocket column to call the API and append the data to the list
def getBoosterVersion(data):
    for x in data['rocket']:
       if x:
        response = requests.get("https://api.spacexdata.com/v4/rockets/"+str(x)).json()
        BoosterVersion.append(response['name'])

In [3]:
# Takes the dataset and uses the launchpad column to call the API and append the data to the list
def getLaunchSite(data):
    for x in data['launchpad']:
       if x:
         response = requests.get("https://api.spacexdata.com/v4/launchpads/"+str(x)).json()
         Longitude.append(response['longitude'])
         Latitude.append(response['latitude'])
         LaunchSite.append(response['name'])

In [4]:
# Takes the dataset and uses the payloads column to call the API and append the data to the lists
def getPayloadData(data):
    for load in data['payloads']:
       if load:
        response = requests.get("https://api.spacexdata.com/v4/payloads/"+load).json()
        PayloadMass.append(response['mass_kg'])
        Orbit.append(response['orbit'])

In [5]:
# Takes the dataset and uses the cores column to call the API and append the data to the lists
def getCoreData(data):
    for core in data['cores']:
            if core['core'] != None:
                response = requests.get("https://api.spacexdata.com/v4/cores/"+core['core']).json()
                Block.append(response['block'])
                ReusedCount.append(response['reuse_count'])
                Serial.append(response['serial'])
            else:
                Block.append(None)
                ReusedCount.append(None)
                Serial.append(None)
            Outcome.append(str(core['landing_success'])+' '+str(core['landing_type']))
            Flights.append(core['flight'])
            GridFins.append(core['gridfins'])
            Reused.append(core['reused'])
            Legs.append(core['legs'])
            LandingPad.append(core['landpad'])

In [6]:
spacex_url="https://api.spacexdata.com/v4/launches/past"

In [7]:
response = requests.get(spacex_url)

In [ ]:
print(response.content)

In [10]:
static_json_url='https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/API_call_spacex_api.json'

In [11]:
response.status_code

200

In [16]:
import pandas as pd
import requests

# Veriyi çek
static_json_url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/API_call_spacex_api.json'
response = requests.get(static_json_url)

# JSON verisini çerçeveye dönüştür
data = response.json()
df = pd.json_normalize(data)

In [17]:
# Veri çerçevesinin ilk 5 satırını görüntüle
print(df.head(5))

       static_fire_date_utc  static_fire_date_unix    tbd    net  window  \
0  2006-03-17T00:00:00.000Z           1.142554e+09  False  False     0.0
1                      None                    NaN  False  False     0.0
2                      None                    NaN  False  False     0.0
3  2008-09-20T00:00:00.000Z           1.221869e+09  False  False     0.0
4                      None                    NaN  False  False     0.0

                     rocket  success  \
0  5e9d0d95eda69955f709d1eb    False
1  5e9d0d95eda69955f709d1eb    False
2  5e9d0d95eda69955f709d1eb    False
3  5e9d0d95eda69955f709d1eb     True
4  5e9d0d95eda69955f709d1eb     True

                                                                                                                                                                                details  \
0                                                                                                                                      Engine failure at 33 seconds and loss of vehicle
1  Successful first stage burn and transition to second stage, maximum altitude 289 km, Premature engine shutdown at T+7 min 30 s, Failed to reach orbit, Failed to recover first stage
2                                                                                                                  Residual stage 1 thrust led to collision between stage 1 and stage 2
3                        Ratsat was carried to orbit on the first successful orbital launch of any privately funded and developed, liquid-propelled carrier rocket, the SpaceX Falcon 1
4                                                                                                                                                                                  None

  crew ships capsules                                              payloads  \
0   []    []       []                            [5eb0e4b5b6c3bb0006eeb1e1]
1   []    []       []                            [5eb0e4b6b6c3bb0006eeb1e2]
2   []    []       []  [5eb0e4b6b6c3bb0006eeb1e3, 5eb0e4b6b6c3bb0006eeb1e4]
3   []    []       []                            [5eb0e4b7b6c3bb0006eeb1e5]
4   []    []       []                            [5eb0e4b7b6c3bb0006eeb1e6]

                  launchpad  auto_update  \
0  5e9e4502f5090995de566f86         True
1  5e9e4502f5090995de566f86         True
2  5e9e4502f5090995de566f86         True
3  5e9e4502f5090995de566f86         True
4  5e9e4502f5090995de566f86         True

                                                                                                            failures  \
0                                                [{'time': 33, 'altitude': None, 'reason': 'merlin engine failure'}]
1            [{'time': 301, 'altitude': 289, 'reason': 'harmonic oscillation leading to premature engine shutdown'}]
2  [{'time': 140, 'altitude': 35, 'reason': 'residual stage-1 thrust led to collision between stage 1 and stage 2'}]
3                                                                                                                 []
4                                                                                                                 []

   flight_number         name                  date_utc   date_unix  \
0              1    FalconSat  2006-03-24T22:30:00.000Z  1143239400
1              2      DemoSat  2007-03-21T01:10:00.000Z  1174439400
2              3  Trailblazer  2008-08-03T03:34:00.000Z  1217734440
3              4       RatSat  2008-09-28T23:15:00.000Z  1222643700
4              5     RazakSat  2009-07-13T03:35:00.000Z  1247456100

                  date_local date_precision  upcoming  \
0  2006-03-25T10:30:00+12:00           hour     False
1  2007-03-21T13:10:00+12:00           hour     False
2  2008-08-03T15:34:00+12:00           hour     False
3  2008-09-28T11:15:00+12:00           hour     False
4  2009-07-13T15:35:00+12:00           hour     False

                                                                                                                                                                                              cores  \
0  [{'core': '5e9e289df35918033d3b2623', 'flight': 1, 'gridfins': False, 'legs': False, 'reused': False, 'landing_attempt': False, 'landing_success': None, 'landing_type': None, 'landpad': None}]
1  [{'core': '5e9e289ef35918416a3b2624', 'flight': 1, 'gridfins': False, 'legs': False, 'reused': False, 'landing_attempt': False, 'landing_success': None, 'landing_type': None, 'landpad': None}]
2  [{'core': '5e9e289ef3591814873b2625', 'flight': 1, 'gridfins': False, 'legs': False, 'reused': False, 'landing_attempt': False, 'landing_success': None, 'landing_type': None, 'landpad': None}]
3  [{'core': '5e9e289ef3591855dc3b2626', 'flight': 1, 'gridfins': False, 'legs': False, 'reused': False, 'landing_attempt': False, 'landing_success': None, 'landing_type': None, 'landpad': None}]
4  [{'core': '5e9e289ef359184f103b2627', 'flight': 1, 'gridfins': False, 'legs': False, 'reused': False, 'landing_attempt': False, 'landing_success': None, 'landing_type': None, 'landpad': None}]

                         id fairings.reused fairings.recovery_attempt  \
0  5eb87cd9ffd86e000604b32a           False                     False
1  5eb87cdaffd86e000604b32b           False                     False
2  5eb87cdbffd86e000604b32c           False                     False
3  5eb87cdbffd86e000604b32d           False                     False
4  5eb87cdcffd86e000604b32e           False                     False

  fairings.recovered fairings.ships  \
0              False             []
1              False             []
2              False             []
3              False             []
4              False             []

                                 links.patch.small  \
0  https://images2.imgbox.com/3c/0e/T8iJcSN3_o.png
1  https://images2.imgbox.com/4f/e3/I0lkuJ2e_o.png
2  https://images2.imgbox.com/3d/86/cnu0pan8_o.png
3  https://images2.imgbox.com/e9/c9/T8CfiSYb_o.png
4  https://images2.imgbox.com/a7/ba/NBZSw3Ho_o.png

                                 links.patch.large links.reddit.campaign  \
0  https://images2.imgbox.com/40/e3/GypSkayF_o.png                  None
1  https://images2.imgbox.com/be/e7/iNqsqVYM_o.png                  None
2  https://images2.imgbox.com/4b/bd/d8UxLh4q_o.png                  None
3  https://images2.imgbox.com/e0/a7/FNjvKlXW_o.png                  None
4  https://images2.imgbox.com/8d/fc/0qdZMWWx_o.png                  None

  links.reddit.launch links.reddit.media links.reddit.recovery  \
0                None               None                  None
1                None               None                  None
2                None               None                  None
3                None               None                  None
4                None               None                  None

  links.flickr.small links.flickr.original  \
0                 []                    []
1                 []                    []
2                 []                    []
3                 []                    []
4                 []                    []

                                                                                           links.presskit  \
0                                                                                                    None
1                                                                                                    None
2                                                                                                    None
3                                                                                                    None
4  http://www.spacex.com/press/2012/12/19/spacexs-falcon-1-successfully-delivers-razaksat-satellite-orbit

                                 links.webcast links.youtube_id  \
0  https://www.youtube.com/watch?v=0a_00nJ_Y88      0a_00nJ_Y88
1  https://www.youtube.com/watch?v=Lk4zQ2wP-Nc      Lk4zQ2wP-Nc
2  https://www.youtube.com/watch?v=v0w9p3U8860      v0w9p3U8860
3  https://www.youtube.com/watch?v=dLQ2tZEH6G0      dLQ2tZEH6G0
4  https://www.youtube.com/watch?v=yTaIDooc8Og      yTaIDooc8Og

                                                                  links.article  \
0  https://www.space.com/2196-spacex-inaugural-falcon-1-rocket-lost-launch.html
1      https://www.space.com/3590-spacex-falcon-1-rocket-fails-reach-orbit.html
2       http://www.spacex.com/news/2013/02/11/falcon-1-flight-3-mission-summary
3                                          https://en.wikipedia.org/wiki/Ratsat
4                       http://www.spacex.com/news/2013/02/12/falcon-1-flight-5

                                         links.wikipedia  fairings
0                  https://en.wikipedia.org/wiki/DemoSat       NaN
1                  https://en.wikipedia.org/wiki/DemoSat       NaN
2  https://en.wikipedia.org/wiki/Trailblazer_(satellite)       NaN
3                   https://en.wikipedia.org/wiki/Ratsat       NaN
4                 https://en.wikipedia.org/wiki/RazakSAT       NaN

In [18]:
print(df.head())

       static_fire_date_utc  static_fire_date_unix    tbd    net  window  \
0  2006-03-17T00:00:00.000Z           1.142554e+09  False  False     0.0
1                      None                    NaN  False  False     0.0
2                      None                    NaN  False  False     0.0
3  2008-09-20T00:00:00.000Z           1.221869e+09  False  False     0.0
4                      None                    NaN  False  False     0.0

                     rocket  success  \
0  5e9d0d95eda69955f709d1eb    False
1  5e9d0d95eda69955f709d1eb    False
2  5e9d0d95eda69955f709d1eb    False
3  5e9d0d95eda69955f709d1eb     True
4  5e9d0d95eda69955f709d1eb     True

                                                                                                                                                                                details  \
0                                                                                                                                      Engine failure at 33 seconds and loss of vehicle
1  Successful first stage burn and transition to second stage, maximum altitude 289 km, Premature engine shutdown at T+7 min 30 s, Failed to reach orbit, Failed to recover first stage
2                                                                                                                  Residual stage 1 thrust led to collision between stage 1 and stage 2
3                        Ratsat was carried to orbit on the first successful orbital launch of any privately funded and developed, liquid-propelled carrier rocket, the SpaceX Falcon 1
4                                                                                                                                                                                  None

  crew ships capsules                                              payloads  \
0   []    []       []                            [5eb0e4b5b6c3bb0006eeb1e1]
1   []    []       []                            [5eb0e4b6b6c3bb0006eeb1e2]
2   []    []       []  [5eb0e4b6b6c3bb0006eeb1e3, 5eb0e4b6b6c3bb0006eeb1e4]
3   []    []       []                            [5eb0e4b7b6c3bb0006eeb1e5]
4   []    []       []                            [5eb0e4b7b6c3bb0006eeb1e6]

                  launchpad  auto_update  \
0  5e9e4502f5090995de566f86         True
1  5e9e4502f5090995de566f86         True
2  5e9e4502f5090995de566f86         True
3  5e9e4502f5090995de566f86         True
4  5e9e4502f5090995de566f86         True

                                                                                                            failures  \
0                                                [{'time': 33, 'altitude': None, 'reason': 'merlin engine failure'}]
1            [{'time': 301, 'altitude': 289, 'reason': 'harmonic oscillation leading to premature engine shutdown'}]
2  [{'time': 140, 'altitude': 35, 'reason': 'residual stage-1 thrust led to collision between stage 1 and stage 2'}]
3                                                                                                                 []
4                                                                                                                 []

   flight_number         name                  date_utc   date_unix  \
0              1    FalconSat  2006-03-24T22:30:00.000Z  1143239400
1              2      DemoSat  2007-03-21T01:10:00.000Z  1174439400
2              3  Trailblazer  2008-08-03T03:34:00.000Z  1217734440
3              4       RatSat  2008-09-28T23:15:00.000Z  1222643700
4              5     RazakSat  2009-07-13T03:35:00.000Z  1247456100

                  date_local date_precision  upcoming  \
0  2006-03-25T10:30:00+12:00           hour     False
1  2007-03-21T13:10:00+12:00           hour     False
2  2008-08-03T15:34:00+12:00           hour     False
3  2008-09-28T11:15:00+12:00           hour     False
4  2009-07-13T15:35:00+12:00           hour     False

                                                                                                                                                                                              cores  \
0  [{'core': '5e9e289df35918033d3b2623', 'flight': 1, 'gridfins': False, 'legs': False, 'reused': False, 'landing_attempt': False, 'landing_success': None, 'landing_type': None, 'landpad': None}]
1  [{'core': '5e9e289ef35918416a3b2624', 'flight': 1, 'gridfins': False, 'legs': False, 'reused': False, 'landing_attempt': False, 'landing_success': None, 'landing_type': None, 'landpad': None}]
2  [{'core': '5e9e289ef3591814873b2625', 'flight': 1, 'gridfins': False, 'legs': False, 'reused': False, 'landing_attempt': False, 'landing_success': None, 'landing_type': None, 'landpad': None}]
3  [{'core': '5e9e289ef3591855dc3b2626', 'flight': 1, 'gridfins': False, 'legs': False, 'reused': False, 'landing_attempt': False, 'landing_success': None, 'landing_type': None, 'landpad': None}]
4  [{'core': '5e9e289ef359184f103b2627', 'flight': 1, 'gridfins': False, 'legs': False, 'reused': False, 'landing_attempt': False, 'landing_success': None, 'landing_type': None, 'landpad': None}]

                         id fairings.reused fairings.recovery_attempt  \
0  5eb87cd9ffd86e000604b32a           False                     False
1  5eb87cdaffd86e000604b32b           False                     False
2  5eb87cdbffd86e000604b32c           False                     False
3  5eb87cdbffd86e000604b32d           False                     False
4  5eb87cdcffd86e000604b32e           False                     False

  fairings.recovered fairings.ships  \
0              False             []
1              False             []
2              False             []
3              False             []
4              False             []

                                 links.patch.small  \
0  https://images2.imgbox.com/3c/0e/T8iJcSN3_o.png
1  https://images2.imgbox.com/4f/e3/I0lkuJ2e_o.png
2  https://images2.imgbox.com/3d/86/cnu0pan8_o.png
3  https://images2.imgbox.com/e9/c9/T8CfiSYb_o.png
4  https://images2.imgbox.com/a7/ba/NBZSw3Ho_o.png

                                 links.patch.large links.reddit.campaign  \
0  https://images2.imgbox.com/40/e3/GypSkayF_o.png                  None
1  https://images2.imgbox.com/be/e7/iNqsqVYM_o.png                  None
2  https://images2.imgbox.com/4b/bd/d8UxLh4q_o.png                  None
3  https://images2.imgbox.com/e0/a7/FNjvKlXW_o.png                  None
4  https://images2.imgbox.com/8d/fc/0qdZMWWx_o.png                  None

  links.reddit.launch links.reddit.media links.reddit.recovery  \
0                None               None                  None
1                None               None                  None
2                None               None                  None
3                None               None                  None
4                None               None                  None

  links.flickr.small links.flickr.original  \
0                 []                    []
1                 []                    []
2                 []                    []
3                 []                    []
4                 []                    []

                                                                                           links.presskit  \
0                                                                                                    None
1                                                                                                    None
2                                                                                                    None
3                                                                                                    None
4  http://www.spacex.com/press/2012/12/19/spacexs-falcon-1-successfully-delivers-razaksat-satellite-orbit

                                 links.webcast links.youtube_id  \
0  https://www.youtube.com/watch?v=0a_00nJ_Y88      0a_00nJ_Y88
1  https://www.youtube.com/watch?v=Lk4zQ2wP-Nc      Lk4zQ2wP-Nc
2  https://www.youtube.com/watch?v=v0w9p3U8860      v0w9p3U8860
3  https://www.youtube.com/watch?v=dLQ2tZEH6G0      dLQ2tZEH6G0
4  https://www.youtube.com/watch?v=yTaIDooc8Og      yTaIDooc8Og

                                                                  links.article  \
0  https://www.space.com/2196-spacex-inaugural-falcon-1-rocket-lost-launch.html
1      https://www.space.com/3590-spacex-falcon-1-rocket-fails-reach-orbit.html
2       http://www.spacex.com/news/2013/02/11/falcon-1-flight-3-mission-summary
3                                          https://en.wikipedia.org/wiki/Ratsat
4                       http://www.spacex.com/news/2013/02/12/falcon-1-flight-5

                                         links.wikipedia  fairings
0                  https://en.wikipedia.org/wiki/DemoSat       NaN
1                  https://en.wikipedia.org/wiki/DemoSat       NaN
2  https://en.wikipedia.org/wiki/Trailblazer_(satellite)       NaN
3                   https://en.wikipedia.org/wiki/Ratsat       NaN
4                 https://en.wikipedia.org/wiki/RazakSAT       NaN

In [21]:
import pandas as pd

# data'yı bir veri çerçevesine dönüştür
data = pd.DataFrame(data)

# Verileri çekmek için gerekli sütunları seçin
data = data[['rocket', 'payloads', 'launchpad', 'cores', 'flight_number', 'date_utc']]

In [22]:
# Verileri çekmek için gerekli sütunları seçin
data = data[['rocket', 'payloads', 'launchpad', 'cores', 'flight_number', 'date_utc']]

In [23]:
# Birden fazla çekirdek (cores) olanları filtrele
data = data[data['cores'].map(len) == 1]

# Birden fazla yük (payloads) olanları filtrele
data = data[data['payloads'].map(len) == 1]

In [24]:
# Tek bir çekirdek değerini alarak 'cores' sütununu güncelle
data['cores'] = data['cores'].map(lambda x: x[0])

# Tek bir yük değerini alarak 'payloads' sütununu güncelle
data['payloads'] = data['payloads'].map(lambda x: x[0])

In [25]:
# 'date_utc' sütununu datetime türüne dönüştür ve sadece tarihi al
data['date'] = pd.to_datetime(data['date_utc']).dt.date

In [26]:
import datetime

# Belirli bir tarihe kadar olan fırlatmaları filtrele
data = data[data['date'] <= datetime.date(2020, 11, 13)]

In [27]:
#Global variables 
BoosterVersion = []
PayloadMass = []
Orbit = []
LaunchSite = []
Outcome = []
Flights = []
GridFins = []
Reused = []
Legs = []
LandingPad = []
Block = []
ReusedCount = []
Serial = []
Longitude = []
Latitude = []

In [28]:
# Call getBoosterVersion
getBoosterVersion(data)

In [29]:
BoosterVersion[0:5]

['Falcon 1', 'Falcon 1', 'Falcon 1', 'Falcon 1', 'Falcon 9']

In [30]:
# Call getLaunchSite
getLaunchSite(data)

In [31]:
# Call getPayloadData
getPayloadData(data)

In [32]:
# Call getCoreData
getCoreData(data)

In [33]:
launch_dict = {'FlightNumber': list(data['flight_number']),
'Date': list(data['date']),
'BoosterVersion':BoosterVersion,
'PayloadMass':PayloadMass,
'Orbit':Orbit,
'LaunchSite':LaunchSite,
'Outcome':Outcome,
'Flights':Flights,
'GridFins':GridFins,
'Reused':Reused,
'Legs':Legs,
'LandingPad':LandingPad,
'Block':Block,
'ReusedCount':ReusedCount,
'Serial':Serial,
'Longitude': Longitude,
'Latitude': Latitude}

In [34]:
import pandas as pd

# launch_dict adlı sözlükten bir Pandas veri çerçevesi oluşturun
launch_df = pd.DataFrame(launch_dict)

# Oluşturulan veri çerçevesini görüntüle (isteğe bağlı)
print(launch_df)

    FlightNumber        Date BoosterVersion  PayloadMass Orbit  \
0              1  2006-03-24       Falcon 1         20.0   LEO
1              2  2007-03-21       Falcon 1          NaN   LEO
2              4  2008-09-28       Falcon 1        165.0   LEO
3              5  2009-07-13       Falcon 1        200.0   LEO
4              6  2010-06-04       Falcon 9          NaN   LEO
..           ...         ...            ...          ...   ...
89           102  2020-09-03       Falcon 9      15600.0  VLEO
90           103  2020-10-06       Falcon 9      15600.0  VLEO
91           104  2020-10-18       Falcon 9      15600.0  VLEO
92           105  2020-10-24       Falcon 9      15600.0  VLEO
93           106  2020-11-05       Falcon 9       3681.0   MEO

         LaunchSite    Outcome  Flights  GridFins  Reused   Legs  \
0   Kwajalein Atoll  None None        1     False   False  False
1   Kwajalein Atoll  None None        1     False   False  False
2   Kwajalein Atoll  None None        1     False   False  False
3   Kwajalein Atoll  None None        1     False   False  False
4      CCSFS SLC 40  None None        1     False   False  False
..              ...        ...      ...       ...     ...    ...
89       KSC LC 39A  True ASDS        2      True    True   True
90       KSC LC 39A  True ASDS        3      True    True   True
91       KSC LC 39A  True ASDS        6      True    True   True
92     CCSFS SLC 40  True ASDS        3      True    True   True
93     CCSFS SLC 40  True ASDS        1      True   False   True

                  LandingPad  Block  ReusedCount    Serial   Longitude  \
0                       None    NaN            0  Merlin1A  167.743129
1                       None    NaN            0  Merlin2A  167.743129
2                       None    NaN            0  Merlin2C  167.743129
3                       None    NaN            0  Merlin3C  167.743129
4                       None    1.0            0     B0003  -80.577366
..                       ...    ...          ...       ...         ...
89  5e9e3032383ecb6bb234e7ca    5.0           12     B1060  -80.603956
90  5e9e3032383ecb6bb234e7ca    5.0           13     B1058  -80.603956
91  5e9e3032383ecb6bb234e7ca    5.0           12     B1051  -80.603956
92  5e9e3033383ecbb9e534e7cc    5.0           12     B1060  -80.577366
93  5e9e3032383ecb6bb234e7ca    5.0            8     B1062  -80.577366

     Latitude
0    9.047721
1    9.047721
2    9.047721
3    9.047721
4   28.561857
..        ...
89  28.608058
90  28.608058
91  28.608058
92  28.561857
93  28.561857

[94 rows x 17 columns]

In [43]:
# Falcon 1 fırlatmalarını çıkararak Falcon 9 fırlatmalarını filtrele
data_falcon9 = data[data['rocket'].str.contains('Falcon 9')]

In [44]:
data_falcon9.loc[:,'FlightNumber'] = list(range(1, data_falcon9.shape[0]+1))
data_falcon9

Empty DataFrame
Columns: [rocket, payloads, launchpad, cores, flight_number, date_utc, date, FlightNumber]
Index: []

In [45]:
data_falcon9.isnull().sum()

rocket           0.0
payloads         0.0
launchpad        0.0
cores            0.0
flight_number    0.0
date_utc         0.0
date             0.0
FlightNumber     0.0
dtype: float64

In [46]:
missing_values = data_falcon9.isnull().sum()
print(missing_values)

rocket           0.0
payloads         0.0
launchpad        0.0
cores            0.0
flight_number    0.0
date_utc         0.0
date             0.0
FlightNumber     0.0
dtype: float64

In [48]:
print(data_falcon9.columns)

Index(['rocket', 'payloads', 'launchpad', 'cores', 'flight_number', 'date_utc',
       'date', 'FlightNumber'],
      dtype='object')

In [50]:
mean_payload_mass = launch_df['PayloadMass'].mean()
launch_df['PayloadMass'].fillna(mean_payload_mass, inplace=True)

In [51]:
mean_payload_mass = launch_df['PayloadMass'].mean()

In [52]:
launch_df['PayloadMass'].replace(np.nan, mean_payload_mass, inplace=True)

In [54]:
missing_values = launch_df['PayloadMass'].isnull().sum()
print("Number of missing values in PayloadMass:", missing_values)

Number of missing values in PayloadMass: 0

In [55]:
launch_df.to_csv('launch_data.csv', index=False)

In [57]:
import pandas as pd

# CSV dosyasını oku
df = pd.read_csv('launch_data.csv')

# Veri çerçevesini göster
df.head()

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2006-03-24,Falcon 1,20.000000,LEO,Kwajalein Atoll,None None,1,False,False,False,NaN,NaN,0,Merlin1A,167.743129,9.047721
1,2,2007-03-21,Falcon 1,5919.165341,LEO,Kwajalein Atoll,None None,1,False,False,False,NaN,NaN,0,Merlin2A,167.743129,9.047721
2,4,2008-09-28,Falcon 1,165.000000,LEO,Kwajalein Atoll,None None,1,False,False,False,NaN,NaN,0,Merlin2C,167.743129,9.047721
3,5,2009-07-13,Falcon 1,200.000000,LEO,Kwajalein Atoll,None None,1,False,False,False,NaN,NaN,0,Merlin3C,167.743129,9.047721
4,6,2010-06-04,Falcon 9,5919.165341,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857

In [58]:
# 'BoosterVersion' sütununda 'Falcon 9' olanları filtrele
data_falcon9 = launch_df[launch_df['BoosterVersion'] == 'Falcon 9']

In [59]:
data_falcon9.loc[:,'FlightNumber'] = list(range(1, data_falcon9.shape[0]+1))
data_falcon9

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
4,1,2010-06-04,Falcon 9,5919.165341,LEO,CCSFS SLC 40,None None,1,False,False,False,None,1.0,0,B0003,-80.577366,28.561857
5,2,2012-05-22,Falcon 9,525.000000,LEO,CCSFS SLC 40,None None,1,False,False,False,None,1.0,0,B0005,-80.577366,28.561857
6,3,2013-03-01,Falcon 9,677.000000,ISS,CCSFS SLC 40,None None,1,False,False,False,None,1.0,0,B0007,-80.577366,28.561857
7,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,None,1.0,0,B1003,-120.610829,34.632093
8,5,2013-12-03,Falcon 9,3170.000000,GTO,CCSFS SLC 40,None None,1,False,False,False,None,1.0,0,B1004,-80.577366,28.561857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,86,2020-09-03,Falcon 9,15600.000000,VLEO,KSC LC 39A,True ASDS,2,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,12,B1060,-80.603956,28.608058
90,87,2020-10-06,Falcon 9,15600.000000,VLEO,KSC LC 39A,True ASDS,3,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,13,B1058,-80.603956,28.608058
91,88,2020-10-18,Falcon 9,15600.000000,VLEO,KSC LC 39A,True ASDS,6,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,12,B1051,-80.603956,28.608058
92,89,2020-10-24,Falcon 9,15600.000000,VLEO,CCSFS SLC 40,True ASDS,3,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,12,B1060,-80.577366,28.561857
93,90,2020-11-05,Falcon 9,3681.000000,MEO,CCSFS SLC 40,True ASDS,1,True,False,True,5e9e3032383ecb6bb234e7ca,5.0,8,B1062,-80.577366,28.561857

In [60]:
data_falcon9.isnull().sum()

FlightNumber       0
Date               0
BoosterVersion     0
PayloadMass        0
Orbit              0
LaunchSite         0
Outcome            0
Flights            0
GridFins           0
Reused             0
Legs               0
LandingPad        26
Block              0
ReusedCount        0
Serial             0
Longitude          0
Latitude           0
dtype: int64

In [61]:
mean_payload_mass = data_falcon9['PayloadMass'].mean()

In [63]:
# 'PayloadMass' sütununun ortalama değerini hesaplayın
mean_payload_mass = data_falcon9['PayloadMass'].mean()

# 'PayloadMass' sütunundaki eksik değerleri ortalama değerle doldurun ve sonucu yeni bir veri çerçevesine atayın
data_falcon9_filled = data_falcon9.copy()  # Veri çerçevesinin bir kopyasını oluşturun
data_falcon9_filled['PayloadMass'].fillna(mean_payload_mass, inplace=True)

# data_falcon9_filled veri çerçevesini kullanarak çalışmaya devam edin

In [64]:
data_falcon9.to_csv('dataset_part_1.csv', index=False)

In [65]:
import pandas as pd

# CSV dosyasını oku
df = pd.read_csv('dataset_part_1.csv')

# Verileri göster
print(df)

    FlightNumber        Date BoosterVersion   PayloadMass Orbit    LaunchSite  \
0              1  2010-06-04       Falcon 9   5919.165341   LEO  CCSFS SLC 40
1              2  2012-05-22       Falcon 9    525.000000   LEO  CCSFS SLC 40
2              3  2013-03-01       Falcon 9    677.000000   ISS  CCSFS SLC 40
3              4  2013-09-29       Falcon 9    500.000000    PO   VAFB SLC 4E
4              5  2013-12-03       Falcon 9   3170.000000   GTO  CCSFS SLC 40
..           ...         ...            ...           ...   ...           ...
85            86  2020-09-03       Falcon 9  15600.000000  VLEO    KSC LC 39A
86            87  2020-10-06       Falcon 9  15600.000000  VLEO    KSC LC 39A
87            88  2020-10-18       Falcon 9  15600.000000  VLEO    KSC LC 39A
88            89  2020-10-24       Falcon 9  15600.000000  VLEO  CCSFS SLC 40
89            90  2020-11-05       Falcon 9   3681.000000   MEO  CCSFS SLC 40

        Outcome  Flights  GridFins  Reused   Legs                LandingPad  \
0     None None        1     False   False  False                       NaN
1     None None        1     False   False  False                       NaN
2     None None        1     False   False  False                       NaN
3   False Ocean        1     False   False  False                       NaN
4     None None        1     False   False  False                       NaN
..          ...      ...       ...     ...    ...                       ...
85    True ASDS        2      True    True   True  5e9e3032383ecb6bb234e7ca
86    True ASDS        3      True    True   True  5e9e3032383ecb6bb234e7ca
87    True ASDS        6      True    True   True  5e9e3032383ecb6bb234e7ca
88    True ASDS        3      True    True   True  5e9e3033383ecbb9e534e7cc
89    True ASDS        1      True   False   True  5e9e3032383ecb6bb234e7ca

    Block  ReusedCount Serial   Longitude   Latitude
0     1.0            0  B0003  -80.577366  28.561857
1     1.0            0  B0005  -80.577366  28.561857
2     1.0            0  B0007  -80.577366  28.561857
3     1.0            0  B1003 -120.610829  34.632093
4     1.0            0  B1004  -80.577366  28.561857
..    ...          ...    ...         ...        ...
85    5.0           12  B1060  -80.603956  28.608058
86    5.0           13  B1058  -80.603956  28.608058
87    5.0           12  B1051  -80.603956  28.608058
88    5.0           12  B1060  -80.577366  28.561857
89    5.0            8  B1062  -80.577366  28.561857

[90 rows x 17 columns]

In [67]:
# Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd
#NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np

In [70]:
import requests
import pandas as pd
import io  # io modülünü içe aktarın

# Veriyi çevrimiçi URL'den indirin
URL = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv'
response = requests.get(URL)

# CSV dosyasını bir Pandas veri çerçevesine yükleyin
df = pd.read_csv(io.StringIO(response.text))

# Verileri görüntüleyin
print(df)

    FlightNumber        Date BoosterVersion   PayloadMass Orbit    LaunchSite  \
0              1  2010-06-04       Falcon 9   6104.959412   LEO  CCAFS SLC 40
1              2  2012-05-22       Falcon 9    525.000000   LEO  CCAFS SLC 40
2              3  2013-03-01       Falcon 9    677.000000   ISS  CCAFS SLC 40
3              4  2013-09-29       Falcon 9    500.000000    PO   VAFB SLC 4E
4              5  2013-12-03       Falcon 9   3170.000000   GTO  CCAFS SLC 40
..           ...         ...            ...           ...   ...           ...
85            86  2020-09-03       Falcon 9  15400.000000  VLEO    KSC LC 39A
86            87  2020-10-06       Falcon 9  15400.000000  VLEO    KSC LC 39A
87            88  2020-10-18       Falcon 9  15400.000000  VLEO    KSC LC 39A
88            89  2020-10-24       Falcon 9  15400.000000  VLEO  CCAFS SLC 40
89            90  2020-11-05       Falcon 9   3681.000000   MEO  CCAFS SLC 40

        Outcome  Flights  GridFins  Reused   Legs                LandingPad  \
0     None None        1     False   False  False                       NaN
1     None None        1     False   False  False                       NaN
2     None None        1     False   False  False                       NaN
3   False Ocean        1     False   False  False                       NaN
4     None None        1     False   False  False                       NaN
..          ...      ...       ...     ...    ...                       ...
85    True ASDS        2      True    True   True  5e9e3032383ecb6bb234e7ca
86    True ASDS        3      True    True   True  5e9e3032383ecb6bb234e7ca
87    True ASDS        6      True    True   True  5e9e3032383ecb6bb234e7ca
88    True ASDS        3      True    True   True  5e9e3033383ecbb9e534e7cc
89    True ASDS        1      True   False   True  5e9e3032383ecb6bb234e7ca

    Block  ReusedCount Serial   Longitude   Latitude
0     1.0            0  B0003  -80.577366  28.561857
1     1.0            0  B0005  -80.577366  28.561857
2     1.0            0  B0007  -80.577366  28.561857
3     1.0            0  B1003 -120.610829  34.632093
4     1.0            0  B1004  -80.577366  28.561857
..    ...          ...    ...         ...        ...
85    5.0            2  B1060  -80.603956  28.608058
86    5.0            2  B1058  -80.603956  28.608058
87    5.0            5  B1051  -80.603956  28.608058
88    5.0            2  B1060  -80.577366  28.561857
89    5.0            0  B1062  -80.577366  28.561857

[90 rows x 17 columns]

In [72]:
import requests
import pandas as pd
import io

URL = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv'
response = requests.get(URL)
df = pd.read_csv(io.StringIO(response.text))

In [73]:
df.head(10)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857
5,6,2014-01-06,Falcon 9,3325.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1005,-80.577366,28.561857
6,7,2014-04-18,Falcon 9,2296.000000,ISS,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1006,-80.577366,28.561857
7,8,2014-07-14,Falcon 9,1316.000000,LEO,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1007,-80.577366,28.561857
8,9,2014-08-05,Falcon 9,4535.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1008,-80.577366,28.561857
9,10,2014-09-07,Falcon 9,4428.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1011,-80.577366,28.561857

In [74]:
df.isnull().sum()/df.shape[0]*100

FlightNumber       0.000000
Date               0.000000
BoosterVersion     0.000000
PayloadMass        0.000000
Orbit              0.000000
LaunchSite         0.000000
Outcome            0.000000
Flights            0.000000
GridFins           0.000000
Reused             0.000000
Legs               0.000000
LandingPad        28.888889
Block              0.000000
ReusedCount        0.000000
Serial             0.000000
Longitude          0.000000
Latitude           0.000000
dtype: float64

In [75]:
df.dtypes

FlightNumber        int64
Date               object
BoosterVersion     object
PayloadMass       float64
Orbit              object
LaunchSite         object
Outcome            object
Flights             int64
GridFins             bool
Reused               bool
Legs                 bool
LandingPad         object
Block             float64
ReusedCount         int64
Serial             object
Longitude         float64
Latitude          float64
dtype: object

In [76]:
launch_site_counts = df['LaunchSite'].value_counts()
print(launch_site_counts)

LaunchSite
CCAFS SLC 40    55
KSC LC 39A      22
VAFB SLC 4E     13
Name: count, dtype: int64

In [77]:
orbit_counts = df['Orbit'].value_counts()
print(orbit_counts)

Orbit
GTO      27
ISS      21
VLEO     14
PO        9
LEO       7
SSO       5
MEO       3
ES-L1     1
HEO       1
SO        1
GEO       1
Name: count, dtype: int64

In [78]:
landing_outcomes = df['Outcome'].value_counts()
print(landing_outcomes)

Outcome
True ASDS      41
None None      19
True RTLS      14
False ASDS      6
True Ocean      5
False Ocean     2
None ASDS       2
False RTLS      1
Name: count, dtype: int64

In [79]:
for i,outcome in enumerate(landing_outcomes.keys()):
    print(i,outcome)

0 True ASDS
1 None None
2 True RTLS
3 False ASDS
4 True Ocean
5 False Ocean
6 None ASDS
7 False RTLS

In [80]:
bad_outcomes=set(landing_outcomes.keys()[[1,3,5,6,7]])
bad_outcomes

{'False ASDS', 'False Ocean', 'False RTLS', 'None ASDS', 'None None'}

In [81]:
bad_outcome = set(['Rapid Unplanned Disassembly', 'Uncontrolled (Ground)'])

In [82]:
landing_class = [1 if outcome not in bad_outcome else 0 for outcome in df['Outcome']]

In [83]:
df['Class']=landing_class
df[['Class']].head(8)

   Class
0      1
1      1
2      1
3      1
4      1
5      1
6      1
7      1

In [84]:
df.head(5)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857,1
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857,1
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857,1
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093,1
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857,1

In [85]:
df["Class"].mean()

1.0

In [86]:
df.to_csv("dataset_part_2.csv", index=False)

In [87]:
    import pandas as pd

    # CSV dosyasını aç
    df = pd.read_csv("dataset_part_2.csv")

    # Veriyi görüntüle
    print(df)

    FlightNumber        Date BoosterVersion   PayloadMass Orbit    LaunchSite  \
0              1  2010-06-04       Falcon 9   6104.959412   LEO  CCAFS SLC 40
1              2  2012-05-22       Falcon 9    525.000000   LEO  CCAFS SLC 40
2              3  2013-03-01       Falcon 9    677.000000   ISS  CCAFS SLC 40
3              4  2013-09-29       Falcon 9    500.000000    PO   VAFB SLC 4E
4              5  2013-12-03       Falcon 9   3170.000000   GTO  CCAFS SLC 40
..           ...         ...            ...           ...   ...           ...
85            86  2020-09-03       Falcon 9  15400.000000  VLEO    KSC LC 39A
86            87  2020-10-06       Falcon 9  15400.000000  VLEO    KSC LC 39A
87            88  2020-10-18       Falcon 9  15400.000000  VLEO    KSC LC 39A
88            89  2020-10-24       Falcon 9  15400.000000  VLEO  CCAFS SLC 40
89            90  2020-11-05       Falcon 9   3681.000000   MEO  CCAFS SLC 40

        Outcome  Flights  GridFins  Reused   Legs                LandingPad  \
0     None None        1     False   False  False                       NaN
1     None None        1     False   False  False                       NaN
2     None None        1     False   False  False                       NaN
3   False Ocean        1     False   False  False                       NaN
4     None None        1     False   False  False                       NaN
..          ...      ...       ...     ...    ...                       ...
85    True ASDS        2      True    True   True  5e9e3032383ecb6bb234e7ca
86    True ASDS        3      True    True   True  5e9e3032383ecb6bb234e7ca
87    True ASDS        6      True    True   True  5e9e3032383ecb6bb234e7ca
88    True ASDS        3      True    True   True  5e9e3033383ecbb9e534e7cc
89    True ASDS        1      True   False   True  5e9e3032383ecb6bb234e7ca

    Block  ReusedCount Serial   Longitude   Latitude  Class
0     1.0            0  B0003  -80.577366  28.561857      1
1     1.0            0  B0005  -80.577366  28.561857      1
2     1.0            0  B0007  -80.577366  28.561857      1
3     1.0            0  B1003 -120.610829  34.632093      1
4     1.0            0  B1004  -80.577366  28.561857      1
..    ...          ...    ...         ...        ...    ...
85    5.0            2  B1060  -80.603956  28.608058      1
86    5.0            2  B1058  -80.603956  28.608058      1
87    5.0            5  B1051  -80.603956  28.608058      1
88    5.0            2  B1060  -80.577366  28.561857      1
89    5.0            0  B1062  -80.577366  28.561857      1

[90 rows x 18 columns]

In [89]:
print(df.columns)

Index(['FlightNumber', 'Date', 'BoosterVersion', 'PayloadMass', 'Orbit',
       'LaunchSite', 'Outcome', 'Flights', 'GridFins', 'Reused', 'Legs',
       'LandingPad', 'Block', 'ReusedCount', 'Serial', 'Longitude', 'Latitude',
       'Class'],
      dtype='object')

In [92]:
print(df)

    FlightNumber        Date BoosterVersion   PayloadMass Orbit    LaunchSite  \
0              1  2010-06-04       Falcon 9   6104.959412   LEO  CCAFS SLC 40
1              2  2012-05-22       Falcon 9    525.000000   LEO  CCAFS SLC 40
2              3  2013-03-01       Falcon 9    677.000000   ISS  CCAFS SLC 40
3              4  2013-09-29       Falcon 9    500.000000    PO   VAFB SLC 4E
4              5  2013-12-03       Falcon 9   3170.000000   GTO  CCAFS SLC 40
..           ...         ...            ...           ...   ...           ...
85            86  2020-09-03       Falcon 9  15400.000000  VLEO    KSC LC 39A
86            87  2020-10-06       Falcon 9  15400.000000  VLEO    KSC LC 39A
87            88  2020-10-18       Falcon 9  15400.000000  VLEO    KSC LC 39A
88            89  2020-10-24       Falcon 9  15400.000000  VLEO  CCAFS SLC 40
89            90  2020-11-05       Falcon 9   3681.000000   MEO  CCAFS SLC 40

        Outcome  Flights  GridFins  Reused   Legs                LandingPad  \
0     None None        1     False   False  False                       NaN
1     None None        1     False   False  False                       NaN
2     None None        1     False   False  False                       NaN
3   False Ocean        1     False   False  False                       NaN
4     None None        1     False   False  False                       NaN
..          ...      ...       ...     ...    ...                       ...
85    True ASDS        2      True    True   True  5e9e3032383ecb6bb234e7ca
86    True ASDS        3      True    True   True  5e9e3032383ecb6bb234e7ca
87    True ASDS        6      True    True   True  5e9e3032383ecb6bb234e7ca
88    True ASDS        3      True    True   True  5e9e3033383ecbb9e534e7cc
89    True ASDS        1      True   False   True  5e9e3032383ecb6bb234e7ca

    Block  ReusedCount Serial   Longitude   Latitude  Class
0     1.0            0  B0003  -80.577366  28.561857      1
1     1.0            0  B0005  -80.577366  28.561857      1
2     1.0            0  B0007  -80.577366  28.561857      1
3     1.0            0  B1003 -120.610829  34.632093      1
4     1.0            0  B1004  -80.577366  28.561857      1
..    ...          ...    ...         ...        ...    ...
85    5.0            2  B1060  -80.603956  28.608058      1
86    5.0            2  B1058  -80.603956  28.608058      1
87    5.0            5  B1051  -80.603956  28.608058      1
88    5.0            2  B1060  -80.577366  28.561857      1
89    5.0            0  B1062  -80.577366  28.561857      1

[90 rows x 18 columns]

In [93]:
none_none_count = df[df['Outcome'] == 'None None']['Outcome'].count()
print("Outcome sütununda 'None None' sayısı:", none_none_count)

Outcome sütununda 'None None' sayısı: 19